/* custom styles */


/* Sticky footer */
html, body {
    height: 100% !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    color: #666;
    background: #F6F6F6;
}

.content {
    flex: 1 0 auto !important;
    text-align: center;
}

h1 {
    margin-bottom: 0;
}

p {
    margin-bottom: 0.1em;
}

a {
    text-decoration: none;
    color: #666;
}

.counter_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 240, 228);
    margin: 1em;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);

}

.tab_page {
    display: flex;
    width: 100%;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    background-color: lightgoldenrodyellow;
    padding: 1em 0 3em 0;
}

.head-bar {
    width: 100%;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    padding: 1.5em;
}

.inputs {
    display: flex;
    width: 100%;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    background-color: lightgoldenrodyellow;
}

.input_field {
    width: 12em;
}

#from-html {
    display: none;
    position: relative;
}

#num_days {
    width: 3em;
    padding-top: 0;
}

.output {
    line-height: 2em;
    font-size: 2em;
    width: 10em;
    background-color: bisque;
    border-radius: 0.3em;
}

.output_range {
    line-height: 2em;
    font-size: 2em;
    width: 10em;
    border-radius: 0.3em;
    background-color: bisque;
}

.disclaimer {
    font-size: 0.7em;
    margin-bottom: 0.4em;
}

.nav {
  width: 100%;
  
}

.nav-tabs .nav-link {
    border: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: lightgoldenrodyellow;
    border: none;
}

.tabs-changed-content {
    height: 10em;
}

#calendar-display{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.month {

    margin: 0.5em;
    /* background-color: rgb(182, 181, 181);
    margin: 1em;  */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.zabuto_calendar {

}

.day {
    width: 3em;
    height: 1.5em;
    padding-top: 0;
}

.working-day {
    background-color: grey;
    border-radius: 3px;
}

.weekend {
    background-color: rgb(216, 134, 79);
    border-radius: 3px;
}

.reg-day {
    background-color: rgb(0, 128, 4);
    border-radius: 3px;
}

.xmas-holiday {
    background-color: rgb(128, 0, 0);
    color:rgb(240, 240, 228);
    border-radius: 3px;
}

.good-friday {
    background-color: rgb(0, 0, 0);
    color:rgb(240, 240, 228);
    border-radius: 3px;
}

.easter-monday {
    background-color: rgb(0, 0, 0);
    color:rgb(240, 240, 228);
    border-radius: 3px;
}

.lim-day {
    background-color: rgb(125, 56, 56);
    color:rgb(240, 240, 228);
    border-radius: 3px;
}

.waitangi-ob {
    background-color: rgb(108, 37, 16);
    color:rgb(240, 240, 228);
    border-radius: 3px;
}

.anzac-ob {
    background-color: rgb(44, 38, 108);
    color:rgb(240, 240, 228);
    border-radius: 3px;
}

.matariki-ob {
    background-color: rgb(31, 134, 115);
    color:rgb(240, 240, 228);
    border-radius: 3px;
}

.sov-ob {
    background-color: purple;
    color:rgb(240, 240, 228);
    border-radius: 3px;
}

.labour-ob {
    background-color: red;
    border-radius: 3px;
}








