/**
 * Zabuto Calendar
 */

div.zabuto_calendar {
    margin: 0;
    padding: 0;
}

div.zabuto_calendar .table {
    width: 100%;
    margin: 0;
    padding: 0;
}

div.zabuto_calendar .table th,
div.zabuto_calendar .table td {
    padding: 0.3em 0.2em;
    text-align: center;
}

div.zabuto_calendar .table tr th,
div.zabuto_calendar .table tr td {
    background-color: #ffffff;
}

div.zabuto_calendar .table tr:last-child {

}

/* month header */
div.zabuto_calendar .table tr.calendar-month-header td {
    background-color: #fafafa;
    font-weight: bold;
}

div.zabuto_calendar .table tr.calendar-month-header td span {
    cursor: pointer;
    display: inline-block;
    padding-bottom: 1em;
}

div.zabuto_calendar .table tr.calendar-month-header td {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

div.zabuto_calendar .table-bordered tr.calendar-month-header td {
    border-left: 0;
    border-right: 0;
}

div.zabuto_calendar .table-bordered tr.calendar-month-header td:first-child {
    
}

div.zabuto_calendar div.calendar-month-navigation {

    margin: 0;
    padding: 0;
    padding-top: 0.75em;
}

/* day-of-week header */
div.zabuto_calendar .table tr.calendar-dow-header th {
    background-color: #DEE2E6;
}

div.zabuto_calendar tr.calendar-dow-header th,
div.zabuto_calendar tr.calendar-dow td {
    width: 14%;
}

/* day */
div.zabuto_calendar .table tr td div.day {

}

/* actions and events */
div.zabuto_calendar .table tr td.event div.day,
div.zabuto_calendar ul.legend li.event {
    background-color: #DEE2E6;
}

div.zabuto_calendar .table tr td.dow-clickable,
div.zabuto_calendar .table tr td.event-clickable {
    cursor: pointer;
}

/* badge */
div.zabuto_calendar .badge-today,
div.zabuto_calendar div.legend span.badge-today {
    background-color: #357ebd;
    color: #ffffff;
    text-shadow: none;
}

div.zabuto_calendar .badge-event,
div.zabuto_calendar div.legend span.badge-event {
    background-color: #ff9b08;
    color: #ffffff;
    text-shadow: none;
}

div.zabuto_calendar .badge-event {
    font-size: 0.95em;
    padding-left: 0.9em;
    padding-right: 0.9em;
    padding-bottom: 0.3em;
}

/* legend */
div.zabuto_calendar div.legend {
    margin-top: 0.75em;
    text-align: right;
}

div.zabuto_calendar div.legend span {
    color: #999999;
    font-size: 1em;
    font-weight: normal;
}

div.zabuto_calendar div.legend span.legend-text:after,
div.zabuto_calendar div.legend span.legend-block:after,
div.zabuto_calendar div.legend span.legend-list:after,
div.zabuto_calendar div.legend span.legend-spacer:after {
    content: ' ';
}

div.zabuto_calendar div.legend span.legend-spacer {
    padding-left: 4em;
}

div.zabuto_calendar ul.legend > span {
    padding-left: 0.2em;
}

div.zabuto_calendar ul.legend {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

div.zabuto_calendar ul.legend li {
    display: inline-block;
    height: 1.2em;
    width: 1.2em;
    margin-left: 0.75em;
}

div.zabuto_calendar ul.legend,
div.zabuto_calendar ul.legend li:first-child {
    margin-left: 0.9em;
}

div.zabuto_calendar ul.legend li:last-child {
    margin-right: 0.75em;
}

div.zabuto_calendar div.legend span.badge {
    font-size: 0.9em;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 0.2em;
    padding-bottom: 0.3em;
}

/* responsive */
@media (max-width: 979px) {
    div.zabuto_calendar .table th,
    div.zabuto_calendar .table td {
        padding: 0.2em 0.1em;
    }
}
